[gerrit]
        basePath = git
        canonicalWebUrl = http://code.dingpw.com
[database]
        type = mysql
        hostname = localhost
        database = reviewdb
        username = gerrit
[index]
        type = LUCENE
[auth]
        type = HTTP
[sendemail]
        smtpServer = smtp.exmail.qq.com
        smtpServerPort = 465
        smtpEncryption = SSL
        smtpUser = code@dingpw.com
        smtpPass = c123456
        from = Code Review<code@dingpw.com>
[container]
        user = root
        javaHome = /usr/local/bin/java/jdk1.8.0_11/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8081/
[cache]
        directory = cache
