[gerrit]
        basePath = git
        canonicalWebUrl = http://code.maxwe.org
[database]
        type = mysql
        hostname = localhost
        database = reviewdb
        username = gerrit
        password = gerrit       
[index]
        type = LUCENE
[auth]
        type = HTTP
[sendemail]
        smtpServer = smtp.exmail.qq.com
        smtpServerPort = 465
        smtpEncryption = SSL
        smtpUser = code@maxwe.org
        smtpPass = xxx
        from = Code Review<code@maxwe.org>
[container]
        user = root
        javaHome = ${JAVA_HOME}
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8081/
[cache]
        directory = cache



[gerrit]
        basePath = git
        canonicalWebUrl = http://code.maxwe.org
[database]
        type = mysql
        hostname = localhost
        database = codeDB
        username = code
[index]
        type = LUCENE
[auth]
        type = HTTP
        logoutUrl = http://maxwe.org
[sendemail]
        smtpServer = smtp.exmail.qq.com
        smtpServerPort = 465
        smtpEncryption = SSL
        smtpUser = code@maxwe.org
        smtpPass = xxxxx
        from = Code Review<code@maxwe.org>
[container]
        user = root
        javaHome = /usr/local/bin/java/jdk1.8.0_11/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = proxy-http://*:8081/
[cache]
        directory = cache
