[gerrit]
        basePath = git
        canonicalWebUrl = http://code.maxwe.org
[database]
        type = mysql
        hostname = localhost
        database = reviewdb
        username = gerrit
        password = gerrit       
[index]
        type = LUCENE
[auth]
        type = HTTP
[sendemail]
        smtpServer = smtp.exmail.qq.com
        smtpServerPort = 465
        smtpEncryption = SSL
        smtpUser = code@maxwe.org
        smtpPass = xxx
        from = Code Review<code@maxwe.org>
[container]
        user = root
        javaHome = ${JAVA_HOME}
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8081/
[cache]
        directory = cache
